.container{
    border:2px solid black;
    background-color:yellow;
    height:750px;
    display:grid;

    grid-template-columns: 300px 300px 300px;
    grid-template-rows:250px 600px;

    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd main main main main main main main"
    "ft ft ft ft ft ft ft ft";

}

.box{
    border:2px solid black;
    background-color:aqua;
    /* height:100px;
    width:100px; */
}

#header{
    grid-area:hd;
}

#slidebar{
    grid-area:sd;
}

#content{
    grid-area:main;
}

#footer{
    grid-area:ft;
}
 
