*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.container{
    border:1px solid red;
    background-color:yellow;
    height:750px;
    width:800px;
    display:grid;
    grid-template-rows:30px 1fr 30px;
    grid-template-columns:200px 600px;
    grid-gap:3px;

    grid-template-areas: 
    "hd hd"
    "side main"
    "ft ft" ;

}

.box{
    border:2px solid red;
    background-color: aqua;
}

#header{
    grid-area:hd;
}

#side{
    grid-area:side;
}

#main{
    grid-area:main;
}

#footer{
    grid-area:ft;
}

/* @media(max-width:2000px) {
    .container{
        grid-gap:200px;
    }
} */

@media(max-width:1000px){
    .container{
        grid-template-rows:30px 1fr 1fr 30px;
        grid-template-columns:1fr;

        grid-gap:2px;

        grid-template-areas:        
        "hd"
        "side"
        "main"
        "ft";

    }
}
