.container{
    border:2px solid black;
    background-color:aqua;
    height:400px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    gap:20px;
}
.box{
    border:1px solid black;
    background-color:burlywood;
    height:100px;
}
#box1{
    order:1;
}
#box3{
    order:8;
}
#box2{
    order:6;
}
