body{
    background-color:rgba(255, 255, 0, 0.675);
}
div{
    border:2px solid black;
    width:500px;
    height:500px;
    transform:translate(550px,150px);  
    background-image: linear-gradient(to right,pink,gray,red,blue); 
    box-shadow:20px 20px 25px black, 20px 20px 5px white;
}
#span1{
    font-size:45px;
    position:absolute;
    top:0;
    left:0;
    text-shadow:3px 3px white;

}
#span2{
    font-size:45px;
    position:absolute;
    top:0;
    right:0;
    text-shadow:3px 3px white;

}
#span3{
    font-size:45px;
    position:absolute;
    top:450px;
    bottom:0px;
    text-shadow:3px 3px white;

}
#span4{
    font-size:45px;
    position:absolute;
    top:450px;
    right:0px;
    text-shadow:3px 3px white;

}
#span5{
    font-size:45px;
    position:absolute;
    top:230px;
    left:190px;
    right:200px;
    bottom:200px;
    text-shadow:3px 3px white;


}
